@import url("../abstract/_variables.scss");
@import url("../abstract/_mixin.scss");

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  background-color: rgba($color: #000000, $alpha: 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  @supports (
    (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))
  ) {
    backdrop-filter: blur(10px);
    background-color: rgba($color: #000000, $alpha: 0.1);
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    font-size: 3rem;
    line-height: 1;
    &:link,
    &:visited {
      color: $dark-grey;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover {
      color: $dark-green;
    }
  }

  &__content {
    width: 75%;
    background-color: $light-white;
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.8);
    border-radius: 3px;
    @include absCenter;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s 0.2s;
    display: table;
    overflow: hidden;

    @include respond(tab-port) {
      display: block;
    }
  }
  &__left {
    display: table-cell;
    width: 33.3333333%;

    @include respond(tab-port) {
      display: none;
    }
  }
  &__right {
    display: table-cell;
    vertical-align: middle;
    width: 66.6666667%;
    padding: 3rem 5rem;

    @include respond(tab-port) {
      width: 80%;
      display: block;
    }
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $dark-grey;
    hyphens: auto;

    @include respond(tab-port) {
      column-count: 1;
    }
  }
}
