@import url('../abstract/_mixin.scss');

/* This is the global selector */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* inherit the properties */
}

html {
  font-size: 62.5%; // 1rem == 10px
  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box; /* without padding and margin */
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
