@import "../abstract/variables";

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $dark-grey;
}

.heading-primary {
  text-transform: uppercase;
  color: $light-white;
  backface-visibility: hidden; // prevent last character from swaying when animation

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveinleft;
    animation-timing-function: ease-out;
    animation-duration: 1s;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.7rem;
    animation-name: moveinright;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    margin-bottom: 5rem;
  }
}

.heading-secondary {
  display: inline-block;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  background-image: linear-gradient(to right, $light-green, $dark-green);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  &:hover {
    transform: skewY(2deg) skewY(1.5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($real-dark, $alpha: 0.2);
  }
}
