@import ".././abstract/variables";

.story {
  box-shadow: 0 3rem 6rem rgba($real-dark, $alpha: 0.1);
  background-color: $light-white;
  border-radius: 3px;
  padding: 6rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &__btn {
    margin: 8rem 0 0 0;
    text-align: center;
  }

  &__text {
    width: 75%;
    margin: 0 auto;
  }

  &__figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 1.7rem;
    text-align: center;
    color: $light-white;
    opacity: 0;
    transition: all 0.3s ease;
  }

  & > * {
    transform: skewX(12deg);
  }
  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    overflow: hidden;
    transform: translate(-2rem, -1rem) skewX(12deg);
    backface-visibility: hidden;

    &:hover .story__figcaption {
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    &:hover .story__img {
      transform: scale(1);
      filter: blur(3px) brightness(80%);
    }
  }
  &__img {
    backface-visibility: hidden;
    height: 100%;
    transition: all 0.3s ease;
    transform: scale(1.3) translateX(-2rem);
  }
}
