@import "../abstract/variables";

.section-about {
  padding: 25rem 0;
  margin-top: -20rem;
  background-color: $light-grey;
}

.section-features {
  margin-top: -20rem;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($light-green, 0.8),
      rgba($medium-green, 0.8)
    ),
    url("../../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
}
