@import "../abstract/variables";

.section-about {
  padding: 25rem 0;
  margin-top: -20rem;
  background-color: $light-grey;
}

.section-features {
  margin-top: -20rem;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($light-green, 0.8),
      rgba($medium-green, 0.8)
    ),
    url("../../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  padding: 25rem 0 50rem;
  margin-top: -10rem;
  background-color: $light-white;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $medium-green,
    $dark-green
  );
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($light-white, 0.8) 0%,
      rgba($light-white, 0.8) 50%,
      rgba($light-white, 0) 50%
    ),
    url("../img/nat-10.jpg");
  background-size: 100%; //cover
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($real-dark, 0.15);
  height: 50rem;

  &__form{
    width: 50%;
    padding: 6rem;
  }
}
